<% unless @object.errors.any? %>
  <%= render partial: "/shared/toasts/show_toast", format: :js %>

  $("#service_list").addClass("loading")
  $.get("<%= list_services_path %>")

  <%= render partial: '/shared/modals/close_modal' %>
<% end %>