$('body').toast({
    class: `<%= flash[:toast_class] || 'success' %>`,
    message: `<%= flash[:success] || flash[:notice] || flash[:destroy] || flash[:update] || 'Başarıyla Gerçekleşti' %>`,
    showProgress: 'bottom',
    pauseOnHover: true,
    })