
<%= simple_form_for @object, remote: true, html: { id: dom_id(@object, params[:action]) } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="field">
    <div class="two fields">
      <%= f.input :name, label: 'Taşeron ismi', placeholder: 'Taşeronun adı', input_html: { class: 'ui selection dropdown field search' }, wrapper_html: { class: 'field' } %>
      <%= f.input :credit, label: 'Varolan hesap/Alacak verecek', placeholder: 'Taşeron ile aranızda herhangi bir alacak/verecek varsa buraya yazınız', input_html: { class: 'ui selection dropdown field search' }, wrapper_html: { class: 'field' } %>
    </div>
  </div>

  <div class="field">
    <div class="two fields">
      <%= f.input :description, as: :text, label: 'Taşeron Notu', placeholder: "Taşeron ile ilgili açıklama", input_html: { class: "field", rows: "2" }, wrapper_html: {class: 'field'} %>
    </div>
  </div>
<% end %>
