<% if notice.present? %>
  <script>
      <%= render partial: "/shared/toasts/show_toast", formats: :js %>
  </script>
<% end %>

<h1>Taşeronlar</h1>

<div id="subcontractor_list" class="ui form">
  <%= render partial: 'subcontractors/partials/subcontractor_list' %>
</div>