<table class="ui celled table" id="customer_list">
  <thead>
  <tr>
    <th>İsim Soyad</th>
  </tr>
  </thead>

  <tbody>
  <% @customers.each do |customer| %>
    <tr>
      <td><%= link_to customer.name, edit_customer_path(customer, from: "customer_index"), remote: true %></td>
    </tr>
  <% end %>
  </tbody>

  <tfoot class="full-width">
  <tr>
    <th colspan="5">
      <%= link_to new_customer_path(from: "customer_index"), remote: true, class: 'ui right floated small primary labeled icon button' do %>
        <i class="plus icon"></i> Müşteri Ekle
      <% end %>
    </th>
  </tr>
  </tfoot>
</table>
