<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">
        Giriş Yap
      </div>
    </h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "ui large form"}) do |f| %>
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email", placeholder: 'Email' }, label: false, wrapper: false %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password", placeholder: 'Parola' }, label: false, wrapper: false %>
          </div>
        </div>

        <div class="field">
          <div class="ui left">
            <%= f.input :remember_me, as: :boolean, label: 'Beni Hatırla' if devise_mapping.rememberable? %>
          </div>
        </div>
        <%= f.button :submit, "Giriş Yap", class: 'ui fluid large teal submit button' %>
      </div>

      <div class="ui error message"></div>
      <% end %>

    <div class="ui message">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>


<style>
    body > .grid {
        height: 100%;
    }
    .image {
        margin-top: -100px;
    }
    .column {
        max-width: 450px;
    }
</style>