<div class="ui error message modal_error hidden">
  <i class="close icon"></i>
  <div class="header">
    Aşağıdaki hatalara dikkat ediniz
  </div>
  <ul class="list">
    <li>You must include both a upper and lower case letters in your password.</li>
    <li>You need to select your home country.</li>
  </ul>
</div>