<div class="ui modal <%= "multiple" if local_assigns[:multiple].present? %> <%= dom_class @object %>">
  <!-- <i class="close icon"></i> -->
  <div class="header">
    <h1><%= @modal_title %></h1>
  </div>

  <div class="content">
    <%= render partial: "shared/modals/error_messages" %>
    <div class="ui form">
      <%= render partial: "#{params[:action]}" %>
    </div>
  </div>

  <div class="actions">
    <% if @deletable %>
      <%= link_to @deletable, @object, method: :delete, remote: true, class: 'ui button grey tertiary', style: 'float: left', data: { confirm: 'Silmek istediğinize emin misiniz?' } %>
    <% end %>

    <div class="ui button close-modal">İptal</div>
    <button type="submit" class="ui button" form="<%= dom_id @object, params[:action] %>" data-disable-with="Kaydediliyor..">Kaydet</button>
  </div>
</div>
