var init_calendar = function(){
		$('#calendar').calendar({
			type: 'date',
			firstDayOfWeek: 1,
			today: true,
      text: {
          days: ['Pazar', 'Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi'],
          months: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
          monthsShort: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
          today: 'Bugün',
          now: 'Şuan',
          am: 'Öğleden Önce',
          pm: 'Öğleden Sonra'
      },
      formatter: {
          date: function (date, settings) {
              if (!date) return '';
              var day = date.getDate();
              var month = date.getMonth() + 1;
              var year = date.getFullYear();
              return day + '/' + month + '/' + year;
          }
      }
		});
	}

// Remove multiple modal
$(".ui.modal.<%= dom_class @object %>").remove();

$("body").append(`<%= render partial: "shared/modals/modal_design", locals: local_assigns, format: "html" %>`)

$(".ui.modal.<%= dom_class @object %>")
		.modal({
        blurring: false,
        closable: false,
        allowMultiple: true,
        transition: 'fade up',
        duration: 500,
        autofocus: false,
        onShow: function(){
          init_calendar();
        },
        selector: {
			    close: ".close-modal"
        }
		})
		.modal('show');

$('select.dropdown').dropdown();
$('.ui.checkbox').checkbox();