<% @object_name = @object.class.name.downcase %>
<% @object.errors.messages.each do |error| %>
console.log('<%= "#{@object_name}[#{error.first}]" %>');
$("[name='<%= "#{@object_name}[#{error.first}]" %>']").parents(".field:first").addClass("error");
<% end %>

$(".modal_error ul.list").html("");
$(".modal_error").show();

<% @object.errors.full_messages.each do |message| %>
$(".modal_error ul.list").append($("<li></li>").text("<%= message.html_safe %>"))
<% end %>

