<table class="ui celled table" id="subcontractor_table">
  <thead>
  <tr>
    <th>İsim</th>
    <th>Kredi</th>
    <th>Açıklama</th>
  </tr>
  </thead>

  <tbody>
  <% @subcontractors.each do |subcontractor| %>
    <tr>
      <td><%= link_to subcontractor.name, subcontractor, remote: true %></td>
      <td><%= subcontractor.credit %></td>
      <td><%= subcontractor.description %></td>
    </tr>
  <% end %>
  </tbody>

  <tfoot class="full-width">
  <tr>
    <th colspan="5">
      <%= link_to new_subcontractor_path, remote: true, class: 'ui right floated small primary labeled icon button new_subcontractor' do %>
        <i class="plus icon"></i> Taşeron Ekle
      <% end %>
    </th>
  </tr>
  </tfoot>
</table>