<%= render partial: "/shared/toasts/show_toast", format: :js %>

$("#<%= "#{@object.class.to_s.parameterize}_list" %>").addClass("loading")
$.get("<%= @reload_path || send("list_#{@model_name.pluralize.parameterize}_path") %>")

<%= render partial: "shared/modals/close_modal" %>