<%= render 'form', customer: @customer %>
  <div class="ui styled accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      Müşterinin Servisleri
    </div>
    <div class="content">
      <% @customer_services.each do |service| %>
        <ol class="ui suffixed list">
          <li><%= link_to service.display, service_path(service, multiple: true), remote: true, class: "item transition" %></li>
        </ol>
      <% end %>
    </div>
  </div>

  <script type="text/javascript" charset="utf-8">
      $('.ui.accordion').accordion();
  </script>