<div class="ui form">
  <%= simple_form_for @customer, remote: true, authenticity_token: true, html: { id: dom_id(@customer, params[:action]) } do |customer| %>
  <%= customer.error_notification %>
  <%= customer.error_notification message: customer.object.errors[:base].to_sentence if customer.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="field">
      <div class="two fields">
        <%= customer.input :name, label: 'İsim Soyisim', placeholder: "İsim Soyisim", wrapper_html: { class: 'field' } %>
        <%= customer.input :phone, label: 'Telefon Numarası', placeholder: "Telefon Numarası", wrapper_html: { class: 'field' } %>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="two fields">
      <%= customer.input :address, as: :text, label: 'Adres', required: true, placeholder: "Adres", input_html: { rows: "2", value: customer.object.address.gsub!("\\", "\\\\\\\\") }, wrapper_html: {class: 'eight wide field'} %>
      <%= customer.association :district, as: :select, label: 'Semt', :collection => District.all.map { |e| [e.discrict_name, e.id] }, input_html: { class: 'ui selection dropdown field search' }, wrapper_html: { class: 'field' }, include_blank: false %>
    </div>
  </div>
    <% if params[:from].present? %>
      <input type="hidden" name="from" value="<%= params[:from] %>">
      <input type="hidden" name="close_modal" value="<%= params[:close_modal] %>">
    <% end %>
<% end %>
</div>
