$("#customer_list").addClass("loading")
$.get("<%= list_customers_path %>")
<%= render partial: '/shared/modals/close_modal' %>

// Servis oluşturma sayfasından müşteri eklendiği zaman
// Servis modalında dropdown yenilenmediği için modalı yeniden yüklüyoruz.
<% if params[:from] == 'services_list' %>
  $(".ui.modal.<%= params[:close_modal] %>").modal('hide');
  $(".ui.modal.<%= params[:close_modal] %>").modal('hide dimmer');
  $("a.new_service")[0].click()
<% end %>