<div class="ui form">
  <%= simple_form_for @object, remote: true, html: { id: dom_id(@object, params[:action]) } do |f| %>
    <h4 class="ui dividing header">Müşterinin</h4>

    <% unless @object.new_record? %>
    <div class="ui cards">
      <div class="card">
        <div class="content">
          <div class="header">
            <%= link_to @object.customer.name.capitalize, customer_path(@object.customer), remote: true %>
          </div>
          <div class="meta">
            Servis <%= time_ago_in_words @object.created_at %> önce kaydedilmiş
          </div>

          <div class="description">
            Telefon: <%= @object.customer.phone %> <br>
            Adres: <%= @object.customer.full_address %>
          </div>
        </div>
      </div>
    </div>
    <div class="ui hidden divider"></div>
      <%= f.hidden_field :customer_id, value: @object.customer.id %>
    <% end %>

    <% if @object.new_record? %>
    <div class="field">
      <div class="two fields">
        <%= f.association :customer, input_html: { class: 'ui selection dropdown field search customer_list' }, wrapper_html: { class: 'field' } %>
      </div>
    </div>
    <% end %>

    <% if @object.address.present? %>
    <div class="field">
      <div class="two fields">
        <%= f.input :address, as: :text, label: 'Adres', required: true, placeholder: "Adres", readonly: true, input_html: { rows: "2" }, wrapper_html: {class: 'eight wide field'} %>
      </div>
    </div>
    <% end %>

    <div class="field">
      <div class="two fields">
        <%= f.input :status, label: 'Durum', collection: Service.states.map { |state| state }, input_html: { class: 'ui selection dropdown field' }, wrapper_html: { class: 'field' } %>
      </div>
    </div>

    <div class="field">
      <div class="two fields">
        <%= f.association :device_type, label: 'Cihaz Tipi', :collection => DeviceType.all.map { |e| [e.device_name, e.id] }, input_html: { class: 'ui selection dropdown field search' }, wrapper_html: { class: 'field' }, include_blank: false %>
        <%= f.association :brand, label: 'Marka', :collection => Brand.all.map { |e| [e.brand_name, e.id] }, input_html: { class: 'ui selection dropdown field search' }, wrapper_html: { class: 'field' }, include_blank: false %>
      </div>
    </div>

    <div class="field">
      <div class="two fields">
        <%= f.input :defect, as: :text, label: 'Arıza Açıklaması', placeholder: "Arıza", input_html: { rows: "2" }, wrapper_html: {class: 'field'} %>
        <%= f.input :description, as: :text, label: 'Servis Notu', placeholder: "Müşteri ile ilgili açıklama", input_html: { class: "field", rows: "2" }, wrapper_html: {class: 'field'} %>
      </div>
    </div>

    <div class="field">
      <div class="two fields">
        <div class="field">
          <div class="ui calendar" id="calendar">
            <label class="text optional">Gidilecek Tarih</label>
            <%= f.input :appointment_dates, wrapper_html: {class: 'ui left icon'}, label: false do %>
              <i class="calendar icon"></i>
              <%= f.input_field :appointment_date, as: :string, placeholder: 'Gidilecek Tarih', autocomplete: "off" %>
            <% end %>
          </div>
        </div>

        <div class="field">
          <label class="text optional">Taşeron</label>
          <%= f.select :subcontractor_id, options_for_select(current_user.subcontractors.map { |s| ["#{s.name} - #{s.credit}", s.id] }, selected: ( f.object.subcontractor_id rescue false )), include_blank: 'Taşeron Yok', class: 'ui dropdown field' %>
        </div>

      </div>
    </div>

  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
    $('select.dropdown.customer_list').dropdown({
        apiSettings: {
            // this url parses query server side and returns filtered results
            url: "<%= customer_list_data_path(:json) %>?q={query}",
            cache: false
        },
        allowReselection: true,
        message: {
            noResults: '<%= link_to 'Yeni müşteri ekle', new_customer_path(from: 'services_list', close_modal: dom_class(@object)), remote: true %>'
        }
    });
</script>