<table class="ui celled table" id="service_table">
  <thead>
  <tr>
    <th>Ad Soyad</th>
    <th>Semt</th>
    <th>Marka</th>
    <th>Cihaz Tipi</th>
    <th>Durumu</th>
  </tr>
  </thead>

  <tbody>
  <% @services.each do |service| %>
    <tr>
      <td><%= link_to service.customer.name, service, remote: true %></td>
      <td><%= service.customer.district_name %></td>
      <td><%= service.brand_name %></td>
      <td><%= service.device_name %></td>
      <td><%= service.get_status %></td>
    </tr>
  <% end %>
  </tbody>

  <tfoot class="full-width">
  <tr>
    <th colspan="5">
      <%= link_to new_service_path, remote: true, class: 'ui right floated small primary labeled icon button new_service' do %>
        <i class="plus icon"></i> Servis Ekle
      <% end %>
    </th>
  </tr>
  </tfoot>
</table>