<div class="ui message hidden">
  <i class="close icon"></i>
  <div class="header">
    <span class="message_content">Your user registration was successful.</span>
  </div>
  <p class="message_sub_content" style="display: none;">You may now log-in with the username you have chosen</p>
</div>