<div class="ui fixed menu">
  <div class="ui container">
    <div class="ui category search item">
      <div class="ui transparent icon input">
        <input class="prompt ui search" type="text" placeholder="Müşteri Arama">
        <i class="search link icon"></i>
      </div>
      <div class="results"></div>
    </div>
    <a href="<%= services_path %>" class="item">Servis Listesi</a>
    <a href="<%= customers_path %>" class="item">Müşteri Listesi</a>
    <div class="ui dropdown item" tabindex="0">
      İşletme
      <i class="dropdown icon"></i>
      <div class="menu transition hidden" tabindex="-1">
        <a href="<%= subcontractors_path %>" class="item">Taşeron Listesi</a>
        <!-- <div class="item">Another Action</div>
        <div class="item">Something else here</div>
        <div class="divider"></div>
        <div class="item">Separated Link</div>
        <div class="divider"></div>
        <div class="item">One more separated link</div> -->
      </div>
    </div>
    <%= link_to "Çıkış Yap", destroy_user_session_path, method: :delete, class: 'item' if user_signed_in? %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $('.dropdown').dropdown();
    $('.ui.search')
        .search({
            // change search endpoint to a custom endpoint by manipulating apiSettings
            apiSettings: {
                url: "<%= service_list_data_path(:json) %>?q={query}"
            },
            minCharacters : 2,
            cache: false,
            silent: true,
            verbose: true,
            onSelect: function(result, response){
                $.get(result.link);
                return false;
            }
        })
</script>