<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render partial: 'layouts/menu' if current_user %>
  <div class="ui container" style="margin-top: 4em;">
    <%= render partial: 'layouts/flash_message' %>
    <%= yield %>
  </div>
</body>
<script type="text/javascript" charset="utf-8">

  // Show loading
  var element;
  $(document).on("ajax:before", function(){
      element = $($(".form.ui:visible")[$(".form.ui:visible").length - 1]);
      element.addClass("loading");
  }).on("ajax:complete", function(xhr, status){
      element.removeClass("loading");
  })
</script>
</html>
